/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*  Sidebard */
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    transform: translateX(-100vw);
    transition: transform 0.5s;
    left: 0;
    top: 0;
}
.sidebar.open {
    transform: translateX(0);
}
